@import '../../styles/colors.scss';

.completed {
  background-color: $primary-color;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  border-radius: 50%;
  margin: 3rem auto;
  position: relative;
}
.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  position: absolute;
  top: 25%;
  left: 40%;
}
