$primary-color: #5a4ad1;
$secondary-color: #f4f6f9;
$primary-text-color: #ffffff;
$secondary-text-color: #9ba0ab;
$primary-filter-color: invert(23%) sepia(74%) saturate(2978%) hue-rotate(241deg)
  brightness(89%) contrast(82%);
$outline: #bdc5d6;
