@import '../styles/colors.scss';

.label,
.input {
  display: block;
  text-align: left;
  width: 100%;
}

.label {
  margin-bottom: 0.25rem;
}

.input,
.link {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}

.optional {
  color: $secondary-text-color;
  font-size: small;
}

.linkContainer {
  display: flex;
  .link {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 35%;
    background-color: $secondary-color;
    & + input {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      width: 65%;
    }
  }
}
