@import './styles/colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $outline;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  background-color: #ffffff;
  padding: 2rem;
  width: 100%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container,
.form-group {
  width: min(100vw, 300px);
  margin: auto;
}

.inner-container {
  margin: auto;
  text-align: center;

  height: min(350px, 100vh);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 600px;
}
